#content {
  display: flex;
  .filterspanel {
    padding-right: 5px;
    min-width: 180px;
    .filterpanel {
      padding-top: 10px;
      margin-bottom: 5px;
      .filterpanelhead {
        background-color: #4cbdec;
        color: white;
        padding: 5px;
        font-weight: bold;
      }
      .filterpanelbody {
        border: 1px solid #4cbdec;
        .tag {
          margin-top: 2px;
          padding-top: 2px;
          border: 1px solid white;
          .material-icons-sharp {
            vertical-align: text-top;
          }
          &:not(.disabled) > .material-icons-sharp {
            color: #4cbdec;
          }
        }
        .disabled {
          color: lightgrey;
        }
      }
    }
  }
  .resultspanel {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 80px;
    .solution {
      flex-basis: 50%;
      padding: 10px;
      min-width: 200px;
      .solutionheadline {
        background-color: #4cbdec;
        padding: 5px;
        .solutionheadlinelink {
          color: white;
          font-weight: bold;
        }
      }
      .solutionbody {
        .solutionimage {
          width: 100%;
          height: auto;
        }
      }
    }   
  }
  #pagination {
    position: absolute;
    bottom: 0px;
    left: 50%;
  }
  #pagination :hover{
    cursor: pointer;
  }
  #pagination .pageBtn {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .8rem;
    text-align: center;
  }
  .search-bar #search-field-solutions{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 6px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    width: 165px;
  }
}
